/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*

Neumorphic Checkbox Dark&Light Mode
https://codepen.io/DivineBlow/pen/KKgBPxY

*/

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Light Mode styles */

.container-cards {
    font-family: "Righteous", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fa {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    flex-wrap: wrap;
    padding: 40px 0;
}

.card-fa {
    position: relative;
    width: 320px;
    height: 320px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}

.box-fa {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background: #fff9ed;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.content-fa {
    padding: 20px;
    text-align: center;
}

.fab {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: clamp(55px, 10vw, 65px);
    pointer-events: none;
}

.fa-python {
    background: rgb(0, 115, 163);
    background: linear-gradient( 90deg, rgba(0, 115, 163, 1) 0%, rgba(255, 210, 41, 1) 100% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.fa-java {
    background: rgb(255, 0, 0);
    background: linear-gradient( 90deg, rgba(255, 0, 0, 1) 0%, rgba(125, 108, 130, 1) 70%, rgba(0, 212, 255, 1) 100% );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.fa-js-square {
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.h3-fa {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.p-fa {
    font-size: 1em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.a-fa {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #409eff;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}



.card-fa:hover .box-fa .content-fa .a-fa {
    background: #ff4049;
}

.container-fa .card-fa:hover .box-fa {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

    .container-fa .card-fa:hover .box-fa .content-fa .h3-fa,
    .container-fa .card-fa:hover .box-fa .content-fa .p-fa {
        color: #fff;
    }















a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.carousel-item{
    height: 32rem;
    background:#777;
    color:white;
    position:relative;
}


.row {

    padding:15px;
}


.container{
    width:1900px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
